.vscode/**
.vscode-test/**
out/test/**
src/**
**/*.map
**/*.ts
node_modules/.bin/**
.git/**
.github/**
scripts/**
**/*.log
**/.DS_Store
**/tsconfig.json
.gitignore
.gitattributes
*.vsix
CLAUDE.md
.claude/**


